body {
    background-color: white (104, 104, 104);
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: black;
}

p {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

#paper_image {
    width: 100px;
    height: 100px;
}

#rock {
    width: 100px;
    height: 100px;
}

/* #rock:hover {
    background-color: orange;
} */

#scissors_image {
    width: 100px;
    height: 100px;
}

img {
    width: 100px;
    height: 100px;
}

div {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: Black;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.8);
}